<html>
  <head>
    <meta charset="utf-8">
      <script src="../static/jquery.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <title>Card Classifier</title>
    <meta charset = "UTF-8">
  </head>


  <body>
    	<div id ="main">

        <header>
          <h1>Pick a card</h1>
        </header>

    <h2 align="center">Any card</h2>
          <div class="drop-zone">
              <img class="img4" src="../static/cardtrick.jpg" alt="picture"/>
<!--        		<span class="drop-zone__prompt" type=file>Drop file here or click to upload</span>-->
    <!--            <input type="file" name="myFile" class="drop-zone__prompt">-->
        		<input type="file" name="myFile" class="drop-zone__input">
	        </div>
            <h2 id="predictResult"></h2>

<!--            <button class="btn first" id="btn_first"><a >Processing</a></button>-->
            <script src="../static/main.js" defer></script>
      </div>
  </body>

</html>
